.sidebar {
  position: absolute;
  width: 84px;
  height: 900px;
  left: 0px;
  top: 1px;
  background-color: #ffff;

  &-logo {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 32px;
    top: 22px;
  }
  &-menus {
    margin-top: 144px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    img {
      font-family: "Material Icons";
      font-style: normal;
      font-weight: 400;
      font-size: 22px;
      line-height: 22px;
      text-align: center;
      color: #8083a3;
      padding: 50px;
    }
  }
}
